ErrorDocument 404 https://www.alzhe.host/
ErrorDocument 403 https://www.alzhe.host/
ErrorDocument 502 https://www.alzhe.host/

RewriteEngine on

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.alzhe\.host$ [NC]
RewriteRule ^(.*)$ https://www.alzhe.host/$1 [L,R=301]
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]
RewriteCond %{THE_REQUEST} /([^.]+)\.xml [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.xml -f
RewriteRule ^ %{REQUEST_URI}.xml [NC,L]
